<div class="contact">
<div class="card">
  <div class="card-header">
    <h5>Contact</h5>
  </div>
  <div class="card-body">
    <p class="card-text">Do you want to contact us? Feel free to meet us!</p>
  </div>
</div>
</div>