<div class="gossip_listing">
<h1>Welcome Visitor!</h1>
<p>Here are all gossips:</p>

<% @gossips.each do |gossip| %>

	N° <%= gossip.id %> <%= gossip.author %>:  <%= link_to gossip.content, gossips_path(gossip.id) %>
	 <br />
   <br />

<% end %>

</div>